<h1>New Account</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dashboard_connector_account_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.dashboard_connector_account_path(@conn, :index) %></span>
