<div class="card-body">
  <div class="card-text ">
    <%= link to: Routes.api_webhook_url(@conn, :create, @trigger.webhook.endpoint_id), class: "card-link" do %>
      <i class="fa fa-anchor"></i>
    <% end %>

    <details>
      <summary>Actions</summary>
      <%= link "Delete", to: Routes.dashboard_trigger_path(@conn, :delete, @trigger), method: :delete, data: [confirm: "Are you sure?"], class: "card-link" %>
    </details>
  </div>
</div>
