<h1>Edit Flow</h1>

<%= live_render(@conn, FlowrWeb.Live.FlowForm, session: %{"current_customer" => @current_customer, "flow" => @flow}) %>

<span><%= link "Back", to: Routes.dashboard_flow_path(@conn, :index) %></span>
