<h1>New Polling</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dashboard_polling_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.dashboard_polling_path(@conn, :index) %></span>
